/*Reset de CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* Header */
header{
        background-color:#60B5FF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        padding: 10px;
}

header img{
    width: 60px;
    margin: 8px;
    border-radius: 17px;
}

nav{   
    width: 50%;
    margin-right: 7px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    height: 100%;
}

nav a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */
footer{
    background-color:#60B5FF;
    position:fixed;
    left:0px;
    bottom:0px;  
    width:100%;
}

/*Main de Index*/
/*Selector + propiedad + valor */
p{
    color:black;
    font-size: 20px;
    text-align: center;  
    margin: 5px;
    font-style: normal;
}

h1 {
    text-decoration:underline;
    color:black;
    text-align: center;     
    margin:10px; 
    /*padding: 0px;*/    
}

body {
    background-color: rgb(175, 221, 255);
}

.titulos {
    text-decoration:underline;
    color:black;
    text-align: center;
    font-size: 25px;
}


div label {
    margin-left: 20px;
    width: 100px;
    }

div button{
    display: table;
    margin-right: 200px;
    margin-left: auto;
}

/*Contacto*/
.formulario, .ubicacion {
    display:flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    padding: 1px; 
    }

    .campo {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;        
    }

    .campo label{
        margin-bottom: 2px;     
        
    }

    .campo-mensaje{
        margin-right: 0;
    }

    .campo input, 
    .campo textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16;
    }

    .botton {
        border: none;
        padding: 10px 20px;
        border-radius: 6px;
        font-size: 18;
        background-color: #60B5FF;
    } 


    /*Home*/    

    .contenedor-grid-home {        
        display: grid;       
        text-align: center;     
        grid-template-areas: 
        'img-1       img-2        img-3'
        'img-4       img-5        img-6'
        'img-7       img-8        img-9'
        'img-10      img-11       img-12'
        'img-13      img-14       img-15';      
        width: 100%;
        max-width: 1000px;
        margin: 50px auto;
        padding: .5rem;
        /*grid-template-columns: 1fr 1fr 1fr ;*/
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
        /*grid-template-rows: 80px 80px 80px 80px 80px ;  */
       /* grid-template-rows: repeat(5,80px);     */
       grid-auto-rows: 100px;
        gap: 1rem;            
        }
        .grid-img-1-home{
             grid-area:img-1; 
        }
        .grid-img-2-home{
             grid-area:img-2; 
        }
        .grid-img-3-home{
             grid-area:img-3; 
        }
        .grid-img-4-home{
             grid-area:img-4; 
        }
        .grid-img-5-home{
             grid-area:img-5; 
        }
        .grid-img-6-home{
             grid-area:img-6; 
        }
        .grid-img-7-home{
             grid-area:img-7; 
        }
        .grid-img-8-home{
             grid-area:img-8; 
        }
        .grid-img-9-home{
             grid-area:img-9; 
        }
        .grid-img-10-home{
             grid-area:img-10; 
        }
        .grid-img-11-home{
             grid-area:img-11; 
        }
        .grid-img-12-home{
             grid-area:img-12; 
        }
        .grid-img-13-home{
             grid-area:img-13; 
        }
        .grid-img-14-home{
             grid-area:img-14; 
        }
        .grid-img-15-home{
             grid-area:img-15; 
        }       
      
        .contenedor-grid-home  div img {
        width: 100%;
        height: 100%;
        text-align: center;      
        border: black 1px solid;
        border-radius: 5px;
        object-fit: cover;
       
    }






  
    /*Nosotros*/    
    .imagen {
         border-radius: 50px;
         /*max-width: 120%;*/
        width: 150px;
        height: 150px;
        margin-top: 30px;
         /*height: auto;*/
         /*display: block;*/
        /* width: 100%;*/
        
         /*height: auto;
         max-width: 120%;
         display: block;
         margin:0;*/
    }
    .contenedor-grid-nosotros {        
        display: grid;       
        text-align: center;                         
        grid-template-areas: 
        'titulo-1    titulo-1     titulo-1'        
        'texto-1     texto-1      texto-1'  
        'img-1       img-2        img-3'        
        'img-1       img-2        img-3'
        'texto-2     texto-3      texto-4';
        
        /*grid-template-columns: 30% 26% 30% ;*/
        grid-template-columns: 30% 25% 30% ;
        grid-template-rows: 40px 100px 100px 100px 120px 100px;   
        gap: 12px;            
        }

    .grid-titulo-1{
        grid-area:titulo-1 ;      
    }

    .grid-texto-1{
        grid-area:texto-1 ;
    }
   
    .grid-img-1{
        grid-area: img-1;
    }

    .grid-img-2{
        grid-area: img-2;
    }

   .grid-img-3{
        grid-area: img-3;
    }
    .grid-texto-2{
        grid-area: texto-2;
    }
    .grid-texto-3{
        grid-area: texto-3;
    }
    .grid-texto-4{
        grid-area: texto-4;
    }
         
   .titulo-imagen{
    font-weight: bold;
    margin-top: 2px;
    font-size: 20px;
    margin: 10px;
   }

   .parrafo-nosotros{
    margin: 20px;
   }

 
/*MediaQuery Home*/

   @media (max-width:500px){
        header{
            flex-direction: column;
            }    
        nav{   
            width: 100%;    
            }

        header img{
            width: 20px;
            text-align: center;
            margin: auto;
            }

        nav a{
            font-size: 10px;            
            }

        .titulos {    
        font-size: 14px;
        }

        p{   
        font-size: 12px;             
        }

        .contenedor-grid-home  div img {
            /*width:60%; 
            height: 60%;
            margin: 0;*/
            /*margin-top: 10px;
            margin-bottom:50px;*/
                    
        }    
    }


    /*TRATAMIENTO*/    
.cards{
    display: flex; 
}
.card {
    flex: 50;
    margin: 10px;
    padding: 15px;
    border: 5px solid cornflowerblue;
    border-radius: 50px;
    flex-direction: columns;
    --bs-card-inner-border-radius: 45px;
}

.car .content {
    flex-grow: 1;
    flex-shrink: 1;
    /*width: 100px;*/
}

.card h5 { 
       
    color:black;
    text-align: center;     
    margin:20px;   
    text-decoration:underline;
    
}