@use "../partials/variables" as*;

@media only screen and (min-width: 300px) and (max-width: 500px){

    /*header*/
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    header img {
        width: 30px;
        margin: 8px;
        border-radius: 17px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        margin: 0 5px;
    }

    navl a {
        font-size: 15px;
    }

    /*footer*/
    footer {
        p {
            font-size: 16px;
            text-align: center;
        }
    }

    /*Home*/  
    .contenedor-grid-home {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        gap: 0.5rem;
        padding: 0.5rem;
        max-width: 400px;        
    }
    .contenedor-grid-home div img {
        @include image-style-home(120px, 5px);       
        object-fit: cover;  
        }  

    /*Nosotros*/
    .contenedor-grid-nosotros {
        display: grid;
        text-align: center;
            
    grid-template-areas:
                
        "titulo-1 "
        "texto-1 "
        "img-1"
        "texto-2"
        "img-2"
        "texto-3"
        "img-3"
        "texto-4";
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        gap: $grid-gap-nosotros;   

    }

    /*Tratamientos*/
    .card {
        flex: 400px;
    }

    /*contacto*/
    .formulario,
    .ubicacion {
        max-width: 100%;
        padding: 10px;
    }

}

/*Home*/
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    /*Home*/
    .contenedor-grid-home {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 3fr));
        gap: 0.5rem;
        padding: 0.5rem;    
        
    }

    .contenedor-grid-home div img {
        @include image-style-home(100%, 5px);  
        object-fit: cover;   

    }

    /*Nosotros*/
    .contenedor-grid-nosotros {
        display: grid;
        text-align: center;
            
    grid-template-areas:
        "titulo-1 "
        "texto-1 "
        "img-1"
        "texto-2"
        "img-2"
        "texto-3"
        "img-3"
        "texto-4";
        grid-template-columns: 3fr; 
        grid-template-rows: auto; 
        gap: $grid-gap-nosotros;   

    }


}

/*Home*/
@media only screen and (min-width: 1000px) and (max-width: 1300px) {
     /*Nosotros*/
    .contenedor-grid-nosotros {
        display: grid;
        text-align: center;
            
    grid-template-areas:
        "titulo-1 "
        "texto-1 "
        "img-1"
        "texto-2"
        "img-2"
        "texto-3"
        "img-3"
        "texto-4";
        grid-template-columns: 3fr; 
        grid-template-rows: auto; 
        gap: $grid-gap-nosotros;   

    }


}